[submodule "prompt_testing_lib"]
	path = prompt_testing_lib
	url = https://github.com/DobbiKov/prompt-test-lib.git
[submodule "prototype-translate-dir-lib"]
	path = prototype-translate-dir-lib
	url = https://github.com/DobbiKov/prototype-translate-dir-lib.git
[submodule "prototype-translate-dir-cli"]
	path = prototype-translate-dir-cli
	url = https://github.com/DobbiKov/prototype-translate-dir-cli.git
[submodule "translate-dir-lib"]
	path = translate-dir-lib
	url = https://github.com/DobbiKov/translate-dir-lib.git
[submodule "py-edu-fr"]
	path = py-edu-fr
	url = https://gitlab.dsi.universite-paris-saclay.fr/yehor.korotenko/py-edu-fr
[submodule "translation-evaluator"]
	path = translation-evaluator
	url = https://github.com/DobbiKov/translation-evaluator.git
[submodule "translate-dir-cli"]
	path = translate-dir-cli
	url = https://github.com/DobbiKov/translate-dir-cli.git
[submodule "unified_model_caller"]
	path = unified_model_caller
	url = https://github.com/DobbiKov/unified-model-caller.git
